<ion-content light-red-gradient>
  <mat-grid-list cols="1" rowHeight="32%">
    <mat-grid-tile>

    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <ion-thumbnail home-logo mat-list-item m-auto>
          <ion-img src="assets/images/forms.png"></ion-img>
        </ion-thumbnail>
        <ion-text mat-list-item>
          <h1 text-white>Design your dream</h1>
        </ion-text>
      </mat-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-list>
        <mat-list-item>
          <a mat-raised-button init-btn routerLink="/login">Login</a>
        </mat-list-item>
        <mat-list-item>
          <a mat-raised-button color="warn" init-btn routerLink="/signup">Signup</a>
        </mat-list-item>
      </mat-list>
    </mat-grid-tile>

  </mat-grid-list>
</ion-content>
